In [3]:
my_dict = {'key1':'value1', 'key2':'value2'}

In [4]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [5]:
my_dict['key1']

'value1'

In [6]:
my_dict['key2']

'value2'

In [7]:
my_dict = {'apple':2.99, 'watermelon':5, 'orange':3.5}

In [9]:
my_dict['orange']

3.5

In [11]:
my_dict['apple'] = 4

In [12]:
my_dict['apple']

4

In [13]:
my_dict

{'apple': 4, 'watermelon': 5, 'orange': 3.5}

In [15]:
my_dict['watermelon'] = 6.5

In [16]:
my_dict

{'apple': 4, 'watermelon': 6.5, 'orange': 3.5}

In [17]:
my_dict = {'list1': [1,2,3], 'list2':[4,5,6], 'names':{'name1':'Leon', 'name2':'Ke'}}

In [18]:
my_dict

{'list1': [1, 2, 3],
 'list2': [4, 5, 6],
 'names': {'name1': 'Leon', 'name2': 'Ke'}}

In [19]:
my_dict['names']['name1']

'Leon'

In [1]:
my_dictionary = {'key1':1, 'key2':2, 'key3':3}

In [5]:
my_dictionary['key4']

KeyError: 'key4'

In [6]:
my_list = [1, 2, 3, 4, 5]

In [7]:
my_list[0]

1

In [8]:
type(my_list[0])

int

In [10]:
type(my_list)

list

In [11]:
my_list = ['1', '2']

In [12]:
type(my_list[0])

str

In [13]:
my_list = [1, 2, 3, 4, 5]

In [14]:
my_list[4]

5

In [15]:
my_list[4] = 8

In [16]:
my_list

[1, 2, 3, 4, 8]

In [17]:
my_tuple = (1, 2, 3)

In [18]:
my_typle[1]

NameError: name 'my_typle' is not defined

In [20]:
my_list = [1, 2, 3]

In [21]:
my_list

[1, 2, 3]

In [22]:
my_tuple[0]

1

In [23]:
my_list[0]

1

In [24]:
my_list[0] = 10

In [25]:
my_list

[10, 2, 3]

In [26]:
my_tuple[0] = 10

TypeError: 'tuple' object does not support item assignment

In [27]:
my_tuple = (1, 2, 3)

In [29]:
my_tuple[2]

3

In [32]:
my_tuple[0]

1

In [33]:
my_tuple[0] = 10

TypeError: 'tuple' object does not support item assignment

In [38]:
leon_tuple = ('one', 'two', 'three')

In [39]:
leon_tuple[2]

'three'

In [40]:
leon_tuple[len(leon_tuple) - 1]

'three'

In [41]:
len(leon_tuple)

3

In [42]:
leon_tuple[2] = 10

TypeError: 'tuple' object does not support item assignment

In [43]:
t = ('a', 'a', 'a', 'b')

In [44]:
t.count('a')

3

In [45]:
t.index('a')

0

In [49]:
t[3]

'b'

In [51]:
t.index('b')

3

In [53]:
t.index('a')

0

In [54]:
t.count('a')

3

In [55]:
t.index('a') + t.count('a') - 1

2

In [56]:
t[2]

'a'

In [2]:
my_dict = {"Leon": 9,"Ke_Wang": 44}

In [3]:
my_dict['Leon']

9

In [7]:
d = ('dictionary')

In [9]:






l
















l

NameError: name 'l' is not defined