In [1]:
my_string = 'hello'
my_list = []

for letter in my_string:
    my_list.append(letter)

In [2]:
my_list

['h', 'e', 'l', 'l', 'o']

In [6]:
my_list2 = [x for x in my_string]

In [7]:
my_list2

['h', 'e', 'l', 'l', 'o']

In [8]:
my_list3 = [num for num in range(0, 10)]

In [9]:
my_list3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
my_list3 = []

In [11]:
for num in range(0, 11):
    print(num)

0
1
2
3
4
5
6
7
8
9
10

In [15]:
my_list4 = [num * 2 for num in range(0,3)]

In [13]:
my_list4

[0, 2, 4]

In [16]:
my_list5 = []

In [17]:
for num in range(0, 3):
    my_list5.append(num * 2)

In [18]:
my_list5

[0, 2, 4]

In [22]:
my_list6 = [num * 3 for num in range(0,4,2)]

In [23]:
my_list6

[0, 6]

In [24]:
results = []

In [26]:
for num in range(0,11):
    if num % 2 == 0:
        results.append(num)
    else:
        results.append('ODD')

results

In [27]:
results

[0,
 'ODD',
 2,
 'ODD',
 4,
 'ODD',
 6,
 'ODD',
 8,
 'ODD',
 10,
 0,
 'ODD',
 2,
 'ODD',
 4,
 'ODD',
 6,
 'ODD',
 8,
 'ODD',
 10]

In [28]:
results

[0,
 'ODD',
 2,
 'ODD',
 4,
 'ODD',
 6,
 'ODD',
 8,
 'ODD',
 10,
 0,
 'ODD',
 2,
 'ODD',
 4,
 'ODD',
 6,
 'ODD',
 8,
 'ODD',
 10]

In [33]:
my_list = []

In [36]:
for x in [2,4,6]:
    for y in [1,3,5]:
        my_list.append(x * y)

In [35]:
my_list

[2, 6, 10, 4, 12, 20, 6, 18, 30]

In [43]:
my_list = []

In [44]:
for x in [20,35]:
    for y in [16,27]:
        my_list.append(x + y)

In [45]:
my_list

[36, 47, 51, 62]