In [1]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [2]:
result = 100/777

In [15]:
result = 104.1234567

In [18]:
print("The result was {r:1.3f}".format(r=result))

The result was 104.123

In [1]:
print('Hello {}{}'.format('Leon', '!'))

Hello Leon!

In [5]:
print("Leon {1} {0} ".format("King","is"))

Leon is King

In [7]:
print('{name} is {age} years old!'.format(age=44, name='Ke'))

Ke is 44 years old!

In [17]:
print("Hi, my name is {name} and i'm {age} years old!".format(age=43, name='Shaojun'))

Hi, my name is Shaojun and i'm 43 years old!

In [10]:
print(1/3)

0.3333333333333333

In [19]:
print("the result was {result:1.3f}".format(result=1/3))

the result was 0.333

In [12]:
2/3

0.6666666666666666

In [13]:
print('The result was {result:1.2f}'.format(result=2/3))

The result was 0.67

In [15]:
print("u8vuygyuygugh")

u8vuygyuygugh

In [16]:
print("fufhghjgjgfhjhg{}".format ("kkkkk"))

fufhghjgjgfhjhgkkkkk

In [20]:
99*99

9801

In [21]:
45454345+343434343

388888688

In [22]:
print("I love leon")

I love leon

In [23]:
print("{mm} {gg} {ii}".format("1" "0" "2"))

KeyError: 'mm'

In [5]:
my_str = 'Hello my name is {} and am {} years old'.format('Leon', 9)

In [6]:
my_str

'Hello my name is Leon and am 9 years old'

In [7]:
l = my_str

In [8]:
l

'Hello my name is Leon and am 9 years old'

In [29]:
name = 'James'

In [28]:
age = 44856776545675

In [33]:
my_str

'Hello my name is James and am 44856776545675 years old'

In [21]:
leon = "I like to play {} and I'm good at it".format(l)

In [22]:
leon

"I like to play Hello my name is Leon and am 9 years old and I'm good at it"

In [34]:
my_pi = math.pi()

NameError: name 'math' is not defined

In [35]:
import math

In [37]:
my_pi = math.pi

In [38]:
my_pi

3.141592653589793