In [3]:
for num in range(0, 3, 2):
    print(num)

0
2

In [4]:
for num in range(0, 10, 2):
    print(num)

0
2
4
6
8

In [15]:
my_list = [0, 1, 2, 4, 5, 6, 7, 8, 9]

In [9]:
for num in my_list:
    if num % 2 == 0:
        print(num)

0
2
4
6
8

In [18]:
for num2 in my_list[0:8:2]:
    print(num2)

0
2
5
7

In [23]:
my_list2 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
for num2 in my_list2[0:8:2]:
    print(num2)

0
2
4
6

In [25]:
my_list2[0:8:2]

[0, 2, 4, 6]

In [26]:
index_count = 0

In [27]:
word = 'abcde'

In [28]:
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [29]:
word[0]

'a'

In [30]:
word[1]

'b'

In [38]:
word2 = "abcdefg"
index_counp = 0

In [33]:
for letter in

a
b
c
d
e

In [43]:
for my_index in range(0, len(word2), 2):
    print(word2[my_index])

a
c
e
g

In [47]:
for a, b in enumerate(word2):
    print('{}:{}'.format(a,b))

0:a
1:b
2:c
3:d
4:e
5:f
6:g

In [50]:
leon = [9,9,8]

In [51]:
neon = [3,4,5]

In [57]:
my_list = list(zip(leon, neon))

In [58]:
my_list

[(9, 3), (9, 4), (8, 5)]

In [59]:
print(my_list)

[(9, 3), (9, 4), (8, 5)]

In [60]:
for item in my_list:
    print(item)

(9, 3)
(9, 4)
(8, 5)

In [61]:
"an" in "an unbrala"

True

In [5]:
d = {'key': 123}
123 in d.values()

True

In [6]:
l = {'leon':1234}

In [7]:
1234 in l.values()

True

In [8]:
type(l.values())

dict_values

In [10]:
type(l.keys())

dict_keys

In [19]:
d2 = {'key1': 1, 'key2':2, 'key3':3, 'key5':5,'key4':4,  'key6':6, 'key7':7, 'key8':8}

In [20]:
for num in d2.values():
    print(num)

1
2
3
5
4
6
7
8

In [27]:
j = [1,100,101,10]

In [28]:
min(j)

1

In [29]:
max(j)

101

In [35]:
k = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

In [31]:
from random import shuffle

In [36]:
len(k)

15

In [37]:
shuffle(k)

In [38]:
k

[14, 10, 8, 6, 9, 7, 1, 4, 3, 12, 13, 15, 11, 5, 2]

In [42]:
About_Leon = input('How old are you?:')

How old are you?:Leon is 9!

In [43]:
About_Leon

'Leon is 9!'